<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="BADPJ.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
<head></head>
</head>
<body>

</body>
</html>
