<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="BADPJ.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="~/Style/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>


</body>
</html>
